name: Run Cypress Tests parallel with dynamic nodes
on:
  workflow_dispatch:
    inputs:
      containers:
        description: 'Comma-separated list of parallel nodes (e.g., 1,2,3)'
        required: true
        default: 1,2,3
        type: string

jobs:
  cypress:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: ${{ fromJSON(format('[{0}]', github.event.inputs.containers)) }}
    steps:
    - name: Print current branch
      run: echo "Workflow was triggered on branch ${GITHUB_REF#refs/heads/}"

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        npm install

    - name: Run Cypress tests
      uses: cypress-io/github-action@v5
      env:
        # Pass total jobs and the current job index to cypress-split
        SPLIT: ${{ strategy.job-total }}
        SPLIT_INDEX: ${{ strategy.job-index }}
        SPLIT_FILE: 'timings.json'